/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
    padding: 20px;
    color: #369;
    text-align: center;
  }

h2 {
  margin: 30px;  
  color: #D31122;
  }

nav a.active-list {
  background-color: #369;
}

nav a {
  font-size: 1.5rem;
}

