<div class="d-flex flex-row justify-content-around flex-wrap">
  
  <div class="p-2">
    <h2>{{title}}</h2>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td><button type="button" class="btn btn-primary" [routerLink]="['/edit-user', user.id]">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-2" id="add-user">
    <h2>Add User</h2>

    <form>
      <div class="container">
        <div class="form-group">
          <label class="form-group" for="user-full-name-input">Full Name:</label>
          <input type="text" class="form-control" id="user-full-name-input" #userFullName required />
        </div>
    
        <div class="form-group">
          <label for="user-email-input">Email:</label>
          <input type="email" class="form-control" id="user-email-input" #userEmail required />
        </div>
    
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="addUser(userFullName.value, userEmail.value); 
          userFullName.value=''; userEmail.value=''">Add</button>
        </div>
    </div>
    </form>
  </div>
</div>
