<h2>{{title}}</h2>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Add User</h2>

<div>
    <label>Full Name:
        <input #userFullName />
    </label>
    <label>Email:
        <input #userEmail />
    </label>
    <button (click)="addUser(userFullName.value, userEmail.value); userFullName.value=''; userEmail.value=''">
        Add
    </button>    
</div>